body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #ffffff;
  max-width: 100%;
  overflow-x: hidden;
}
#animation {
  width: 100%;
  height: 100%;
}

svg {
  overflow: visible;
  position: absolute;
}
#name-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  background: transparent;
  z-index: 10;
}
#name {
  color: #ffffff;
  background-color: transparent;
  z-index: 10;
  font-size: 300px;
}
#navigation-container {
  width: 100vw;
  height: 10vh;
  position: absolute;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo-container {
  height: 10vh;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: 5vw;
  margin-right: 5vw;
}

#logo-image {
  width: auto;
  height: 7vh;
  position: relative;
}
#navigation-items {
  list-style-type: none;
  display: flex;
  gap: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  height: auto;
}
.navigation-item {
  font-size: 40px;
  opacity: 0.6;
  padding: 5px;
  transition: all 300ms ease-in-out;
}
.navigation-item:hover {
  transform: scale(1.2);
  background-color: #333333;
  opacity: 0.8;
}
.grid-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image:
    linear-gradient(to right, #FFA500 1px, transparent 1px),
    linear-gradient(to bottom, #FFA500 1px, transparent 1px);
  background-size: 10vw 10vh;
  filter: blur(1px);
  -webkit-mask-image: linear-gradient(to right, rgba(50,50,50,0.1), rgba(50,50,50,0.6));
  mask-image: linear-gradient(to right, rgba(50,50,50,0.1), rgba(50,50,50,0.6));
}
#about-us {
  position: relative;
  height: 100vh;
}
#cloud-background-container {
  height: 100vh;
  width: auto;
  overflow: hidden;
  position: absolute;
}
#cloud-background {
  height: auto;
  width: 100vw;
  filter: blur(40px);
  z-index: -1;
}
#about-us-heading {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: white;
  font-weight: 900;
  z-index: 10;
}
#about-us-text {
  z-index: 10;
  opacity: 0;
}

#about-content-container {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.about-img {
  z-index: 0;
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-50vw) scale(0);
  animation: slideRight 1s ease forwards;
  animation-delay: 2s;
}
@keyframes slideRight {
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}
#about-content {
  font-family: "Inter", sans-serif; /* Or your preferred font */
  font-size: 2rem;
  line-height: 1.6;
  height: 40vh;
  width: 45vw;
  max-width: 50vw;
  margin-right: 0;
  margin-top: 5%;
  margin-bottom: 0;
  color: #aaa;
  z-index: 10;
  text-align: center;
}

